*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #090737;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.header{
    background-image: url(imagenes/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /*background-color: #050331;*/
    border-bottom: 1px solid #FFFFFF29;
}
.logo{
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #0A01FF;
}
#menu {
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    display: none;
    cursor: pointer;
}
.header-info h1 {
    color: #080720;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.header-info p {
    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
}
.btn-1 {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #e1160d;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #a70a15;
}
.gym{
    padding: 70px 0;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.gym-1{
    width: 50%;
    padding-right: 150px;
}
.gym-1 h2{
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}
.gym-1 p{
    font-size: 17px;
    color: #acaaaa;
    margin-bottom: 10px;
}
.gym-1 span{
    color: #a70a15;
}
.btn-2 {
    display: inline-block;
    padding: 8px 45px;
    border-radius: 20px;
    background-color: #e1160d;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-2:hover{
    background-color: #a70a15;
}

.img-1, .img-2{
    width: 270px;
    margin-right: 10px;
}
.footer{
    border-top: 1px solid #FFFFFF29;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #040404;
}
.footer h3{
    color: #a70a15;
    font-size: 25px;
    font-weight: 800;
}
.links ul{
    display: flex;
}
.links ul li{
    margin-right: 35px;
}
.links ul li a{
    color: #818181;
}
@media(max-width:991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #383838;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header-content{
        padding: 30px;
    }
    .header-info h1{
        font-size: 50px;
        margin-bottom: 5px;
    }
    .gym{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
    .gym-1{
        width: 100%;
        padding: 0;
        order: 1;
    }
    .gym-1 h2{
        margin-bottom: 15px;
    }
    .btn-2{
        margin-bottom: 35px;
    }
    .gym-2{
        order: 2;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .img-1, .img-2{
        margin: 0 0 20px 0;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer h3{
        margin-bottom: 15px;
    }
    .links ul li{
        margin: 0 10px;

    }
}